@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body {
    background-color: #773919;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.contenedorSection {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80vh;
}

.fraseInicio {
    font-size: 35pt;
    width: 70%;
    color: #E7E1CA;
    font-family: "Syne", sans-serif;

    padding: 20px;
    margin: 0;

}

#contenedorBotones{
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 60px;
    
    
    
}

#contenedorBotones button{
    background-color: #E7E1CA;
    font-family: "Syne", sans-serif;
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 20pt;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
}

#contenedorBotones button:hover{
    box-shadow: 5px 10px 10px lab(18.72% -15.69 14.32);
}

#contenedorBotones span{
    color: #E7E1CA;
    font-family: "Syne", sans-serif;
    font-size: 25pt;
}

#contenedorcolumna{
    display: flex;
    width: 100%;
}

