@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body {
    background-color: #773919;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.contenedorSection {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80vh;
}

.fraseInicio {
    font-size: 35pt;
    width: 70%;
    color: #E7E1CA;
    font-family: "Syne", sans-serif;

    padding: 20px;
    margin: 0;

}

#contenedorBotones{
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 60px;
    
    
    
}

#contenedorBotones button{
    background-color: #E7E1CA;
    font-family: "Syne", sans-serif;
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 20pt;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
}

#contenedorBotones button:hover{
    box-shadow: 5px 10px 10px lab(18.72% -15.69 14.32);
}

#contenedorBotones span{
    color: #E7E1CA;
    font-family: "Syne", sans-serif;
    font-size: 25pt;
}

#contenedorcolumna{
    display: flex;
    width: 100%;
}

* { box-sizing: border-box; }
body { margin: 0; }

.four-cols{
  display: flex;
  min-height: 100vh;
  background: #2f320a; 
}

.col{
  flex: 1; 
  border-left: 1px solid rgba(255,255,255,0.35);
  padding: 48px 40px;
  position: relative; 
  color: #e9e1cf;
}


.col:first-child{
  border-left: none;
}

.col h2{
  font-size: clamp(32px, 4vw, 72px);
  line-height: 0.95;
  text-transform: uppercase;
  margin: 0;

  
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.col ul{
  list-style: none;
  padding: 0;
  margin: 0;

  
  position: absolute;
  left: 40px;
  bottom: 40px;

  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.9;
}

.col li{
  margin: 6px 0;
}