@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



body {
    
    margin: 0;
    position: relative;
    background-image: url("images/inicio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}


    

.contenedorSection {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80vh;
}

.fraseInicio {
    font-size: 35pt;
    width: 70%;
    color: #E7E1CA;
    font-family: "Syne", sans-serif;

    padding: 20px;
    margin: 10px;

}

#contenedorBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
top: 28%;
    width: 100%;
    text-align: center;
    position: absolute;
    height: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#contenedorBotones button{
    
    align-items: flex-start;
    background-color: #E7E1CA;
    font-family: "Syne", sans-serif;
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 20pt;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
}

#contenedorBotones button:hover{
    box-shadow: 5px 10px 10px lab(18.72% -15.69 14.32);
}

#contenedorBotones span{
    color: #E7E1CA;
    font-family: "Syne", sans-serif;
    font-size: 25pt;
    text-align: center;
    justify-content: center;
    


}

#contenedorcolumna{
    display: flex;
    width: 100%;
}

* { box-sizing: border-box; }
body { margin: 0; }

.four-cols{
  display: flex;
  min-height: 100vh;
  background: #2f320a; 
    font-family: "oswald", sans-serif;

}

.col{
  flex: 1; 
  border-left: 1px solid rgba(255,255,255,0.35);
  padding: 48px 40px;
  position: relative; 
  color: #e9e1cf;

}


.col:first-child{
  border-left: none;
  

}

.col h2{
  font-size: clamp(32px, 4vw, 72px);
  line-height: 0.95;
  margin: 0;

  
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.col ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "syne", sans-serif;
  

  
  position: absolute;
  left: 40px;
  bottom: 40px;
 font-size: 15px;
  letter-spacing: 0.04em;

  opacity: 0.9;
}

.col li{
  margin: 6px 0;
}

.contenedorstudio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.studio2 {
  display: block;
}
